.app-body{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap:10px;
    background-color: rgb(56, 54, 54);
    width: 500px;
    height: 400px;
      padding-left: 170px;
      border-radius: 600px;
      padding-top: 60px;

}
.container div{
    background-color: greenyellow;
    border: 2px solid black;
border-radius: 30px;
padding-top: 10px;

}
.item1{
    display:flex;
    align-items: center;
    justify-content: center;
}
.space{
    margin:20px;
}
/* .btn-msg{
    margin-bottom: ;
} */